body{
    margin: 0;
    font-family: 'poppins',sans-serif;
    overflow-x:  hidden;
    
}
.container{
    
    width: 100vw;
    /* height: 100vh; */
    display: flex;
    flex-direction: column;
    /* background-image: url(images/banner-bg.jpg) */
}
.imgcontainer{
    width: 100vw;
    height: 800px;
    /* padding-left: 10px; */
    background-image: url(images/banner-bg.jpg);
    border-end-end-radius: 80px;
    border-end-start-radius: 80px;
    flex-direction: column;
    
}
.header{
    width: 100vw;
    height: 100px;
    justify-content: space-between;
    position: relative;
    flex-direction: row;
    display: flex;
    justify-content: space-around;
    position: fixed;
    background-color: blue;
    border-bottom-left-radius: 30%;
    border-bottom-right-radius: 30%;
    
}
.header .logo{
    margin-top: 30px;
    margin-right: 40px;
    margin-bottom: 10px;
    
}
.logo{
    display: flex;
    flex-direction: row;
}
.logo p{
    color: #eb9098;
    /* background-color: whitesmoke; */
    
    
}
.btn {
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border: transparent;
    background: transparent;
    margin-top: 5%;
}
.btnsign{
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    background-color: #ee626b;
    border-radius: 40%;

}

.body{
padding-top: 120px;
    width: 100vw;
    height: 60%;
    display: flex;
    flex-direction: row;
    /* background-color:crimson; */ 
    margin-top: 50px;
}
.contentbox{
    /* top: 50px; */
    /* width: 50%; */
    height: auto;
    width: 100vw;
    /* background-color: #ee626b; */
    /* align-self: center!; */
    display: flex;
    flex-direction: row;
    left: 0;
    right: 0;
}
.content{
    width: 500px;
    color: white;
    padding: 10%;
    font-size: large;
    align-self: center;
    margin-bottom: 50px;
    /* background-image: ; */
    
}
.icon img{
    width: 60px;
    height: 60px;
    display: inline-block;
    text-align: center;
    /* line-height: 100px; */
    background-color: #0071f8;
    border-radius: 50%;
}
.icon{
    text-align: center;
    margin-top: 40px;
}
.search{
    /* background-color: black; */
    float: left;
    display: flex;
    flex-direction: column;
    
}
.search input{
    padding: 10px;
    width: 250px;
    float: left;
    border-radius: 20px;
    border: none;
    padding-left: 10px;
    cursor: pointer;
    display: flex;
}

.button{
    padding: 10px;
    border-radius: 20px;
    border: none;
    background-color: #ee626b;
    cursor: pointer;
    display: flex;
}
.image{

    margin-left: 10%;
    width: 500px;
    margin-right: 100px;
    background-image: url(images/banner-image.jpg);
    background-repeat: no-repeat;
    border-radius: 30px;
    background-size: auto;
    
}
/* .image:hover {
    -ms-transform: scale(1.2); 
    -webkit-transform: scale(1.2);
    transform: scale(1.2); 
} */

.items{
    
    cursor: pointer;
    bottom: 100px;
    width: 100vw;
    padding-top: 80px;
    /* height: 40%; */
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    /* padding-bottom: 10%; */
    /* background-color: #ee626b; */
}
.itbox1{
    width: 200px;
    height: 150px;
    border-radius: 20px;
    background-color: white;
    
}
.itbox2{
    width: 200px;
    height: 150px;
    border-radius: 20px;
    background-color: white;
}
.itbox3{
    width: 200px;
    height: 150px;
    border-radius: 20px;
    background-color: white;
}
.itbox4{
    width: 200px;
    height: 150px;
    border-radius: 20px;
    background-color: white;
}
.Trending{
    padding-top: 100px;
    width: 100vw;
    /* height: 20%; */
    
    /* background-color: yellow; */
    /* z-index: inherit; */
}
.sub1{
    padding-left: 50px;
    /* width: 100vw; */
    height: 100px;
    /* background-color: bisque; */
    /* justify-content: space-between; */
    /* display: flex; */
}
.leftsub{
    width: 50vh;
    height: 100px;
}
.sub1 h4{
    color: #ee626b;
}
.sub2{
    width: 100vw;
    /* height: 200px; */
    /* background-color: aqua; */
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    padding-top: 30px;
}
.box1{
    width: 200px;
    height: 240px;
    background-color: #e4dfdf;
    /* border: 1px solid; */
}
/* .box1:hover {
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1); 
    transform: scale(1.1); 
  } */
.box2{
    width: 200px;
    height: 240px;
    background-color: #e4dfdf;
}
/* .box2:hover {
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1); 
    transform: scale(1.1); 
  } */
.box3{
    width: 200px;
    height: 240px;
    background-color: #e4dfdf;
}
/* .box3:hover {
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1); 
    transform: scale(1.1); 
  } */
.box4{
    width: 200px;
    height: 240px;
    background-color: #e4dfdf;
}
/* .box4:hover {
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1); 
    transform: scale(1.1); 
  } */
.box1 .timage1{
    width: auto;
    height: 160px;
    background-image: url(images/trending-01.jpg);
    /* border-top-left-radius: 20px;
    border-top-right-radius: 20px; */
    border-radius: 20PX;
}
.box2 .timage2{
    width: auto;
    height: 160px;
    background-image: url(images/trending-02.jpg);
    /* border-top-left-radius: 20px;
    border-top-right-radius: 20px; */
    border-radius: 20px;
}
.box3 .timage3{
    width: auto;
    height: 160px;
    background-image: url(images/trending-03.jpg);
    border-radius: 20px;
}
.box4 .timage4{
    width: auto;
    height: 160px;
    background-image: url(images/trending-04.jpg);
    border-radius: 20px;
}
.tcont{
    padding-left: 15px;
    height: 50px;
    text-align: start;
    border-radius: 10px;
    /* padding: 30px; */
    /* background-color: blueviolet; */
}
/* .tcont h5{
    margin-bottom: 10px;
} */
.mostplayed{
   height: 500px;
    padding-top: 100px;
    width: 100vw;
    /* background-color: #ee626b; */
}
.msub1{
    /* width: 100vw; */
    height: 100px;
    /* background-color:blueviolet; */
    margin-left: 5%;
    
}
.msub1 h4{
    color: #ee626b;
}
.msub2{
    width: 100vw;
    height: 280px;
    
    /* background-color: blue; */
    display: flex;
    justify-content: space-evenly;
}
.mbox1{
    width: 150px;
    height: 280px;
    /* border: 1px solid; */
    border-radius: 20px;
    /* background-image: url(images/top-game-01.jpg); */
}
.mimage1{
    width: 150px;
    height: 180px;
    border-radius: 20px;
    background-image: url(images/top-game-01.jpg);
}
/* .mimage1:hover {
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1); 
    transform: scale(1.1); 
  } */
.mcontent p{
    padding-left: 30px;
    
}
.mcontent h3{
    margin-bottom: 30px;
    padding-left: 10px;
}
.mbutton{
    background-color: #ee626b;
  border: none;
  color: white;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  display: inline;
  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;
  margin-left: 16px;
  border-radius: 20px;
  
}
.mbox2{
    width: 150px;
    height: 250px;
    /* border: 1px solid; */
    /* border-radius: 20px; */
}
.mimage2{
    width: 150px;
    height: 180px;
    border-radius: 20px;
    background-image: url(images/top-game-02.jpg);

}
/* .mimage2:hover {
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1); 
    transform: scale(1.1); 
  } */
.mbox3{
    width: 150px;
    height: 250px;
    /* border: 1px solid;
    border-radius: 20px; */
}
.mimage3{
    width: 150px;
    height: 180px;
    border-radius: 20px;
    background-image: url(images/top-game-03.jpg);

}
/* .mimage3:hover {
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1); 
    transform: scale(1.1); 
  } */
.mbox4{
    width: 150px;
    height: 250px;
    /* border: 1px solid;
    border-radius: 20px; */
}
.mimage4{
    width: 150px;
    height: 180px;
    border-radius: 20px;
    background-image: url(images/top-game-04.jpg);

}
/* .mimage4:hover {
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1); 
    transform: scale(1.1); 
  } */
.mbox5{
    width: 150px;
    height: 250px;
    /* border: 1px solid;
    border-radius: 20px; */
}
.mimage5{
    width: 150px;
    height: 180px;
    border-radius: 20px;
    background-image: url(images/top-game-05.jpg);

}
/* .mimage5:hover {
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1); 
    transform: scale(1.1); 
  } */
.mbox6{
    width: 150px;
    height: 250px;
    /* border: 1px solid;
    border-radius: 20px; */
}
.mimage6{
    width: 150px;
    height: 180px;
    border-radius: 20px;
    background-image: url(images/top-game-06.jpg);

}
/* .mimage6:hover {
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1); 
    transform: scale(1.1); 
  } */
.topcategories{
    padding-top: 150px;
    width: 100vw;
    height: 400px;
}
.tsub1{
    text-align: center;
    
    align-items: center;
}
.tsub1 h4{
    color: #ee626b;
}
.tsub2{
    width: 100vw;
    height: 300px;
    display: flex;
    justify-content: space-evenly;
    padding-top: 30px;
}
.tbox1{
    width: 200px;
    height: 250px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
}
.tbox2{
    width: 200px;
    height: 250px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
}
.tbox3{
    width: 200px;
    height: 250px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
}
.tbox4{
    width: 200px;
    height: 250px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
}
.tbox5{
    width: 200px;
    height: 250px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
}

.action{
    width: 200px;
    height: 70px;
    background-color: #0071f8;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    margin-bottom: 0;
    
}
.action h2{
    color: #e4dfdf;
    text-align: center;
}
.cimage1{
    background-image: url(images/categories-05.jpg);
    width: 200px;
    height: 180px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    display: flex;
}
.cimage2{
    background-image: url(images/categories-03.jpg);
    width: 200px;
    height: 180px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;  
}
.cimage3{
    background-image: url(images/categories-04.jpg);
    width: 200px;
    height: 180px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;  
}
.cimage4{
    background-image: url(images/categories-05.jpg);
    width: 200px;
    height: 180px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;  
}
.cimage5{
    background-image: url(images/categories-01.jpg);
    width: 200px;
    height: 180px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;  
}
.lastbox{
    margin-top: 100px;
    width:100vw;
    height: 100px;
    background-color: #0071f8 ;
    border-top-left-radius: 80px;
    border-top-right-radius: 100px;
}
.para{
    color: #e4dfdf;
    text-align: center;
    display: flex;
    flex-direction: column;
    padding-top: 10px;
}


@media (max-width: 991px) {
    
    
    .container{
        display: flex;
        flex-direction: column;
       
    }
    .header{
        
       padding: 20px;
        height: 100px;
    }
    .buttons{
        padding-right: 10px;

    }
    .body{
        margin-top: 50px;
        flex-direction: column;
       
    }
    .contentbox{
        
        width: 100vw;
       display: flex;
       flex-direction: column;
       text-align: center;
       
    }
    .content{
        justify-content: center;
        font-size: x-large;
           
    }
    .content h4{
        justify-content: center;
    }
    .content p{
        font-size: small;
        
    }
    .search{
        margin-left: 100px;
    }
    .search input{
        padding: 10px;
        width: 250px;
        float: left;
        border-radius: 20px;
        border: none;
        padding-left: 10px;
        cursor: pointer;
        display: flex;
    }
    
    .button{
        padding: 10px;
        border-radius: 20px;
        border: none;
        background-color: #ee626b;
        cursor: pointer;
        display: flex;
    }
    .image {
        justify-content: center;
        display: flex;
        text-align: center;
        height: 600px;
        margin-left: 280px;
        background-size: auto;

    }
    .imagcontainer{
        background-size: auto;
        height: 100vh;

    } 
    .items{
        margin-top: 600px;
        display: flex;
        flex-direction:row;
        flex-wrap: wrap;
        align-items: center;
        gap: 15px;
        
    }
    .itbox1{
        width:400px;
        height: 250px;
    }
    .itbox2{
        width:400px;
        height: 250px;
    }
    .itbox3{
        width:400px;
        height: 250px;
    }
    .itbox4{
        width:400px;
        height: 250px;
    }
    .sub2{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 20px;
        justify-content: center;
    }
    .box1{
        width:350px;
        height: 250px;
        justify-content: center;
        border-radius: 20px;
    }
    .timage1{
       
        background-size: auto;
    }
    .box2{
        width:350px;
        height: 250px;
        border-radius: 20px;
    }
    .box3{
        width:350px;
        height: 250px;
        border-radius: 20px;
    }
    .box4{
        width:350px;
        height: 250px;
        border-radius: 20px;
    }
    .msub2{
        width: 100vw;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        left: 30px;
        
        height: auto;
        
        
    }
    .mbox1{
        padding: 50px;
        justify-content: center;
        border-radius: 20px;
        flex-wrap: wrap;
    }
    .mbox2{
        padding: 50px;
        justify-content: center;
        border-radius: 20px;
        
    }
    .mbox3{
        padding: 50px;
        justify-content: center;
        border-radius: 20px;
        
    }
    .mbox4{
        
        padding: 50px;
        justify-content: center;
        border-radius: 20px;
        margin-top: 100px;
    }
    .mbox5{
        padding: 50px;
        justify-content: center;
        border-radius: 20px;
        margin-top: 100px;
    }
    .mbox6{
        padding: 50px;
        justify-content: center;
        border-radius: 20px;
        margin-top: 100px;
    }
    .topcategories{
        margin-top: 400px;
    }
    .tsub2{
        width: 100vw;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        
    }
    .tbox1{
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        padding: 30px;
    } 
    .tbox2{
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        padding: 30px;
    } 
    .tbox3{
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        padding: 30px;
    } 
    .tbox4{
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        padding: 30px;
    } 
    .tbox5{
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        padding: 30px;
    } 
    .lastbox{
        margin-top: 400px;
   }
  
} 

/* @media screen and (min-width:500px) and  (max-width:800px) {

    .header{
        background-color:  greenyellow;
        width: 200px;
    }
    .body{
        background-color: #ee626b;
    }


} */